.profile {
    img {
        box-shadow: 0 0 5px $grey-color;
        width: 100%;
    }
}
.address {
    font-family: monospace;

    p { margin: 0; }
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }

    ol {
        padding: 0;
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 0.8rem 0;
        }

        h4, p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.4;
        }

        .date {
            flex-basis: 100%;
            padding-bottom: 0.3rem;

        }

        @media screen and (min-width: 460px) {
            .date {
                flex-basis: 112px;
                padding-bottom: 0;
            }
            .announcement {
                flex-basis: calc(100% - 112px);
            }
        }
    }
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}
